.body {
  background-color: rgb(20, 193, 20);
}

.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  width: 120px;
}

.button {
  background-color: rgb(91, 48, 91);
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
}

*:disabled {
  background-color: dimgrey;
  color: linen;
  border-color: black;
  opacity: 1;
}
